*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

@import 'colors';

html {
    scroll-behavior: smooth;
}

.App{
    min-height: 100vh;
    background-color: $backgroundcolor;
}

