@import 'resets';
@import 'maxins';
@import 'colors';


.wrapper{
    width: 100%;
    max-width: 1280px;
    padding: 0px 20px;
    margin: 0px auto;
}

.home{
    background-color: $backgroundcolor;
    min-height: 100vh;
}

/* heder com */
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    
    h2{
        font-family: sans-serif;
        color: $primerycolor; 
    }
    h3{
        color:white;
        font-size: 17px;
    }

    padding: 20px 0;
    .container{
        @include flexBox(row,center,space-between,0);
        .leftinner{
            @include flexBox(row,center,center,35px);
            h2{
                cursor: pointer;
            }
            h3{
                cursor: pointer;
            }
        }
        .rightinner{
            @include flexBox(row,center,center,35px);
            .searchicon{
                color: white;
                font-size: 18px;
                cursor: pointer;
            }
            h3{
                cursor: pointer;
            }
    
            .status{
                display: none;
            }
        }

    }

}

/* slider */
.slider{
    background-color:$backgroundcolor;

    .innerslider{
        .wrraperdiscription{
            height: 100%;
            @include flexBox(column,center,center,20px);
            .discription{
                @include flexBox(column,start,center,20px);
                width: 100%;
                max-width: 1280px;
                padding: 0px 20px;
                margin: 0px auto;
                opacity: 0;
                transition: all ease-in-out .4s;
                transform: translatey(100px);
                .shadow{ 
                   text-shadow: -2px -2px 6px black;  
                }
                h1{
                    color: whitesmoke;
                    font-size: clamp(1.5rem, 5.543vw + 0.066rem, 4.5rem);
                    line-height: clamp(2.1rem, 6.097vw + 0.522rem, 5.4rem);
                    font-family: sans-serif;
                }
                .btnsRating{
                    @include flexBox(row,center,end,15px);
                    button{
                        width: 150px;
                        height: 50px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        font-family: sans-serif;
                        cursor: pointer;
                    }
                    p{
                        width: fit-content;
                    }
                    .btnone{
                        transition: ease-in-out .3s;
                        background-color:#d90000ff;
                        &:hover{
                           background: transparent;
                           color: white;
                           border: 2px solid $primerycolor;
                        }
                    }
                    .btntow{
                        transition: ease-in-out .3s;
                        &:hover{
                           background: transparent;
                           color: white;
                           border: 2px solid $primerycolor;
                        }
                    }
    
                }
                p{
                    color: white;
                    width: 600px;
                    font-size: 20px;
                }
                .reating{
                    @include flexBox(row,center,end,0)
                }

            }

        }

    }

    .innerslider.is-active{
        .wrraperdiscription{
            .discription{
                transform: translatey(0);
                opacity: 1;
            }
        }
    }

}

/* mobileslider*/
.mobileslider{
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    background-color:$backgroundcolor;
    @include flexBox(row,center,center,16px);
    display: none;
    padding: 7px 0;
    .nav-child{
        cursor: pointer;
        @include flexBox(column ,center,center,1px);
        .icons{
            color: white;
        }
        p{
            color: white;
        }
    }
}


.slidepost{
    background-color: $backgroundcolor;
    box-shadow: 0 10px 34px black inset;
    padding: 30px 0;
    h2{
        font-size: clamp(1.5rem, 1.743vw + 0.066rem, 4.5rem);
       /*  line-height: clamp(2.1rem, 6.097vw + 0.522rem, 5.4rem); */
        color: $primerycolor;
        font-family: sans-serif;
        
        
    }
    .container{
        @include flexBox(column,none,none,10px);
        .splide{
            .splide__track{
                
                ul{
                    li{
                        display: flex;
                        justify-content: center;
                        position: relative;

                        img{
                            opacity: 3.5;
    
                        }
                        h1{
                            position: absolute;
                            color: white;
                            font-size: 1.5em;
                            bottom: .3em;
                            left:.3em;
                            text-shadow: -2px -2px 6px black; 
                        }

                    }
                }
            }
        }

    }

}


.cardsection{
    @include flexBox(column ,none,none,10px);
    padding-top:30px;
    .cardcontainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        justify-items: stretch;
        grid-gap: 10px;
        .imgcontainer{
            overflow: hidden;
            cursor: pointer;
            display: flex;
            &:hover .cdimg{
                scale: 1.1;

            }
            .cdimg{
                width: 100%;
                transition: ease .5s;
            }

        }
    }
    .showfullcontent{
        @include flexBox(row,center,end,0);
        padding-top: 10px;
        button{
            width:80px;
            height: 35px;
            color: white;
            background-color: $primerycolor;
            border: none;
            cursor: pointer;
            transition: ease .3s;
            &:hover{
                font-size: 12px;
            }
        }
    }
}


footer{
    @include flexBox(column,center,center,5px);
    font-size: 16px;
    background-color: $backgroundcolor;
    padding: 2em 0;
    h1{
        font-size: 2em;
        color: $primerycolor;
    }
    p{
        font-size: 1em;
        color: white;
    }
}

/* error msg*/
.errorcom{
    width: 100%;
    height: 100vh;
    @include flexBox(row,center,center,0);
    background:$backgroundcolor;
    .containerError{
        width: 100%;
        color: white;
        @include flexBox(column,center,center,0);
        img{
            width: 30%;
        }
    }

}

.loading{
    height: 100vh;
    width: 100vw;
    @include flexBox(column,center,center,0);
}