@import 'resets';
@import 'maxins';
@import 'colors';

@media (max-width: 940px){

    .header{
       border-bottom: 1px solid rgb(77, 75, 75);
        position: relative;
        background-color: $backgroundcolor;
        .container{
            .leftinner{
                h3{
                    display: none;
                }
            }
            .rightinner{
                h3{
                    display: none;
                }
                .status{
                    display: block;
                }
            }
        }
    }
    .mobileslider{
        display: flex;
    }

    .slider{
        .innerslider{
            .wrraperdiscription{
                @include flexBox(column,end,end,0);
               padding-bottom: 40px;
                .discription{
                    gap: 5px;
                    .btnsRating{
                        button{
                            display: none;
                        }
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
    }
    .cardsection{
        .cardcontainer{
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
    .singlecardspag{
        .container{
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-gap: 10px;

            .infocard{
                .cardtitle{
                    h3{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .infocard{

        .image{
            p{
             padding: 5px;
            }
        }
    }

    footer{
        font-size: 12px;
    }

    .toprated{
        padding: 0;
    }

    .mylist{
        padding: 16px 0;
    }

}


@media (max-width: 888px){
    .itemDetails{
        .firstcontainer{
            padding-top: 51px;
            .detailsContainer{
                .detailsItems{
                    grid-template-columns:1fr;
                    .poster{
                        justify-content: center;
                        .description{
                            font-size: 12px;
                        }
                        img{
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    .singlecardspag{
        padding-top: 0;
    }
}